@charset "UTF-8";
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
.c-topicspath {
  max-width: 1280px;
  position: absolute;
  bottom: 16px;
  right: 30px;
  padding: 0;
  z-index: 2; }
  @media screen and (max-width: 568px) {
    .c-topicspath {
      bottom: 8px; } }
  .c-topicspath li {
    display: inline-block;
    color: #000000;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .c-topicspath li {
        font-size: 0.7em; } }
    .c-topicspath li:after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      display: inline-block;
      margin-left: 8px; }
    .c-topicspath li:last-child:after {
      content: none; }

.l-lowerCaption {
  width: 100%;
  height: 400px;
  background-image: url("/inc/image/common/bg_lowerCaption.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  @media screen and (max-width: 768px) {
    .l-lowerCaption {
      height: 260px; } }
  @media screen and (max-width: 568px) {
    .l-lowerCaption {
      height: 190px; } }
  .l-lowerCaption__inner {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto; }
    @media screen and (max-width: 1310px) {
      .l-lowerCaption__inner {
        padding: 0 15px; } }
  .l-lowerCaption__titleBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 100%; }
  .l-lowerCaption__title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1310px) {
      .l-lowerCaption__title {
        padding: 0 15px; } }
    @media screen and (max-width: 768px) {
      .l-lowerCaption__title {
        font-size: 32px; } }
    @media screen and (max-width: 568px) {
      .l-lowerCaption__title {
        font-size: 28px; } }
    .l-lowerCaption__title small {
      font-size: 32px;
      font-weight: 600;
      display: block;
      font-family: "Futura PT", sans-serif;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .l-lowerCaption__title small {
          font-size: 28px; } }
      @media screen and (max-width: 568px) {
        .l-lowerCaption__title small {
          font-size: 20px; } }

#about .p-greeting__contents {
  padding-left: 10%; }
  @media screen and (max-width: 768px) {
    #about .p-greeting__contents {
      padding-left: 0; } }
  #about .p-greeting__contents > p {
    font-size: 24px; }
    @media screen and (max-width: 768px) {
      #about .p-greeting__contents > p {
        font-size: 22px; } }

#about .p-staff__list {
  padding-top: 30px;
  counter-reset: point; }
  #about .p-staff__list > dl {
    display: -ms-flexbox;
    display: flex; }
    #about .p-staff__list > dl:not(:last-child) {
      margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      #about .p-staff__list > dl {
        display: block; } }
    #about .p-staff__list > dl > dt {
      position: relative;
      padding-left: 50px;
      width: 320px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      line-height: 2;
      font-size: 24px; }
      #about .p-staff__list > dl > dt::before {
        content: counter(point, decimal-leading-zero);
        counter-increment: point;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 32px;
        font-family: "Heebo";
        line-height: 1.2; }
        @media screen and (max-width: 568px) {
          #about .p-staff__list > dl > dt::before {
            font-size: 26px;
            padding-left: 6px; } }
    #about .p-staff__list > dl > dd {
      font-size: 18px;
      line-height: 2.2; }
      @media screen and (max-width: 768px) {
        #about .p-staff__list > dl > dd {
          padding-left: 50px; } }

#about .p-Overview > p {
  border-bottom: 1px solid #707070;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0; }
  @media screen and (max-width: 568px) {
    #about .p-Overview > p {
      text-align: left;
      font-size: 18px; } }

/*# sourceMappingURL=../_map/page/about.css.map */
