@charset "UTF-8";
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
.c-topicspath {
  max-width: 1138px;
  position: absolute;
  bottom: 16px;
  right: 30px;
  padding: 0;
  z-index: 2; }
  @media screen and (max-width: 568px) {
    .c-topicspath {
      bottom: 8px; } }
  .c-topicspath li {
    display: inline-block;
    color: #000000;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .c-topicspath li {
        font-size: 0.7em; } }
    .c-topicspath li:after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      display: inline-block;
      margin-left: 8px; }
    .c-topicspath li:last-child:after {
      content: none; }

.l-lowerCaption {
  width: 100%;
  height: 400px;
  background-image: url("/inc/image/common/bg_lowerCaption.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  @media screen and (max-width: 768px) {
    .l-lowerCaption {
      height: 260px; } }
  @media screen and (max-width: 568px) {
    .l-lowerCaption {
      height: 190px; } }
  .l-lowerCaption__inner {
    max-width: 1138px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto; }
    @media screen and (max-width: 1168px) {
      .l-lowerCaption__inner {
        padding: 0 15px; } }
  .l-lowerCaption__titleBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 100%; }
  .l-lowerCaption__title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1168px) {
      .l-lowerCaption__title {
        padding: 0 15px; } }
    @media screen and (max-width: 768px) {
      .l-lowerCaption__title {
        font-size: 32px; } }
    @media screen and (max-width: 568px) {
      .l-lowerCaption__title {
        font-size: 28px; } }
    .l-lowerCaption__title small {
      font-size: 32px;
      font-weight: 600;
      display: block;
      font-family: "Futura PT", sans-serif;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .l-lowerCaption__title small {
          font-size: 28px; } }
      @media screen and (max-width: 568px) {
        .l-lowerCaption__title small {
          font-size: 20px; } }

@media screen and (max-width: 1168px) {
  #contents {
    padding-bottom: 60px; } }

.c-newslist {
  background-color: #FFFFFF;
  padding: 0; }
  .c-newslist__item {
    padding: 0;
    border-bottom: 1px solid #CCCCCC; }
    .c-newslist__item:first-child {
      border-top: 1px solid #CCCCCC; }
    .c-newslist__item a {
      display: block;
      padding: 32px 35px;
      position: relative; }
      @media screen and (max-width: 768px) {
        .c-newslist__item a {
          padding: 15px 35px 15px 10px; } }
      .c-newslist__item a:after {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #090B3B;
        transition: all 0.2s ease; }
      .c-newslist__item a:hover:after {
        right: 10px; }
    .c-newslist__item dl dt {
      max-width: 170px;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px; }
      @media screen and (max-width: 768px) {
        .c-newslist__item dl dt {
          max-width: 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
          margin-bottom: 10px; } }
    .c-newslist__item dl dd {
      -ms-flex: 0 0 calc(100% - 170px);
          flex: 0 0 calc(100% - 170px);
      max-width: calc(100% - 170px);
      color: #000000; }
      @media screen and (max-width: 768px) {
        .c-newslist__item dl dd {
          max-width: 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; } }
  .c-newslist__date {
    color: #000000; }

.pagination {
  text-align: center;
  padding-bottom: 45px; }
  @media screen and (max-width: 768px) {
    .pagination {
      padding-bottom: 80px; } }
  .pagination__box {
    display: inline-block; }
  .pagination ul.page-numbers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    overflow: hidden; }
    .pagination ul.page-numbers li {
      margin-right: 0;
      font-size: 18px;
      font-weight: 500;
      border-right: 1px solid #CCCCCC; }
      .pagination ul.page-numbers li:last-child {
        margin-right: 0;
        border-right: none; }
      .pagination ul.page-numbers li .page-numbers {
        padding: 18.5px 26.9px;
        display: inline-block;
        color: #000;
        transition: all .4s ease; }
        @media screen and (max-width: 568px) {
          .pagination ul.page-numbers li .page-numbers {
            padding: 6px 15px; } }
        .pagination ul.page-numbers li .page-numbers.current {
          background-color: #090B3B; }
        .pagination ul.page-numbers li .page-numbers:hover {
          background-color: #090B3B; }

/*# sourceMappingURL=../_map/page/archive.css.map */
