@charset "UTF-8";
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
.c-topicspath {
  max-width: 1280px;
  position: absolute;
  bottom: 16px;
  right: 30px;
  padding: 0;
  z-index: 2; }
  @media screen and (max-width: 568px) {
    .c-topicspath {
      bottom: 8px; } }
  .c-topicspath li {
    display: inline-block;
    color: #000000;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .c-topicspath li {
        font-size: 0.7em; } }
    .c-topicspath li:after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      display: inline-block;
      margin-left: 8px; }
    .c-topicspath li:last-child:after {
      content: none; }

.l-lowerCaption {
  width: 100%;
  height: 400px;
  background-image: url("/inc/image/common/bg_lowerCaption.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  @media screen and (max-width: 768px) {
    .l-lowerCaption {
      height: 260px; } }
  @media screen and (max-width: 568px) {
    .l-lowerCaption {
      height: 190px; } }
  .l-lowerCaption__inner {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto; }
    @media screen and (max-width: 1310px) {
      .l-lowerCaption__inner {
        padding: 0 15px; } }
  .l-lowerCaption__titleBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 100%; }
  .l-lowerCaption__title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1310px) {
      .l-lowerCaption__title {
        padding: 0 15px; } }
    @media screen and (max-width: 768px) {
      .l-lowerCaption__title {
        font-size: 32px; } }
    @media screen and (max-width: 568px) {
      .l-lowerCaption__title {
        font-size: 28px; } }
    .l-lowerCaption__title small {
      font-size: 32px;
      font-weight: 600;
      display: block;
      font-family: "Futura PT", sans-serif;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .l-lowerCaption__title small {
          font-size: 28px; } }
      @media screen and (max-width: 568px) {
        .l-lowerCaption__title small {
          font-size: 20px; } }

#archive-recruit .l-lowerCaption,
#single-recruit .l-lowerCaption {
  margin-bottom: -80px; }
  @media screen and (max-width: 768px) {
    #archive-recruit .l-lowerCaption,
    #single-recruit .l-lowerCaption {
      margin-bottom: -30px; } }

#archive-recruit .c-topicspath,
#single-recruit .c-topicspath {
  bottom: 110px; }
  @media screen and (max-width: 768px) {
    #archive-recruit .c-topicspath,
    #single-recruit .c-topicspath {
      bottom: 75px; } }
  @media screen and (max-width: 568px) {
    #archive-recruit .c-topicspath,
    #single-recruit .c-topicspath {
      bottom: 42px; } }

#archive-recruit .p-mainImg,
#single-recruit .p-mainImg {
  padding-top: 0;
  position: relative;
  z-index: 2; }
  #archive-recruit .p-mainImg img,
  #single-recruit .p-mainImg img {
    display: block;
    width: 100%;
    margin-bottom: 50px; }
  #archive-recruit .p-mainImg__body,
  #single-recruit .p-mainImg__body {
    max-width: 600px;
    margin: 0 auto; }

#archive-recruit #contents {
  padding: 0; }

#archive-recruit .p-job__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px; }
  @media screen and (max-width: 1024px) {
    #archive-recruit .p-job__head {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; } }
  #archive-recruit .p-job__head .c-ttl-2 {
    margin: 0 60px 0 0; }
    @media screen and (max-width: 1024px) {
      #archive-recruit .p-job__head .c-ttl-2 {
        margin: 0 0 10px; } }

#single-recruit.pfwform-system-confirm #contents {
  padding-top: 60px; }

#single-recruit #contents {
  padding-top: 0; }

#single-recruit .p-mainImg__body {
  max-width: 800px; }
  #single-recruit .p-mainImg__body p {
    font-size: 18px; }

#single-recruit .p-form .c-step {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 20px; }
  #single-recruit .p-form .c-step__title, #single-recruit .p-form .c-step__list {
    width: 100%; }
  #single-recruit .p-form .c-step__title {
    margin-bottom: 10px; }
  #single-recruit .p-form .c-step__list {
    -ms-flex-pack: center;
        justify-content: center; }

#single-recruit .p-form .c-tbl__block tbody tr th {
  padding-left: 20px; }

#single-recruit .p-form .c-tbl__block tbody tr td {
  padding-left: 30px; }

/*# sourceMappingURL=../_map/page/recruit.css.map */
