@charset "UTF-8";
/*
ユーティリティ系おまとめファイル
*/
/*
██████   █████  ███████ ███████
██   ██ ██   ██ ██      ██
██████  ███████ ███████ █████
██   ██ ██   ██      ██ ██
██████  ██   ██ ███████ ███████
*/
/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/
/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
/*
████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██
*/
.c-topicspath {
  max-width: 1138px;
  position: absolute;
  bottom: 16px;
  right: 30px;
  padding: 0;
  z-index: 2; }
  @media screen and (max-width: 568px) {
    .c-topicspath {
      bottom: 8px; } }
  .c-topicspath li {
    display: inline-block;
    color: #000000;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .c-topicspath li {
        font-size: 0.7em; } }
    .c-topicspath li:after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      display: inline-block;
      margin-left: 8px; }
    .c-topicspath li:last-child:after {
      content: none; }
    .c-topicspath li a {
      color: #FFFFFF; }

.l-lowerCaption {
  width: 100%;
  height: 400px;
  background-image: url("/inc/image/common/bg_lowerCaption.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }
  @media screen and (max-width: 768px) {
    .l-lowerCaption {
      height: 260px; } }
  @media screen and (max-width: 568px) {
    .l-lowerCaption {
      height: 190px; } }
  .l-lowerCaption__inner {
    max-width: 1138px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto; }
    @media screen and (max-width: 1168px) {
      .l-lowerCaption__inner {
        padding: 0 15px; } }
  .l-lowerCaption__titleBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: 100%; }
  .l-lowerCaption__title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1168px) {
      .l-lowerCaption__title {
        padding: 0 15px; } }
    @media screen and (max-width: 768px) {
      .l-lowerCaption__title {
        font-size: 32px; } }
    @media screen and (max-width: 568px) {
      .l-lowerCaption__title {
        font-size: 28px; } }
    .l-lowerCaption__title small {
      font-size: 32px;
      font-weight: 600;
      display: block;
      font-family: "Futura PT", sans-serif;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .l-lowerCaption__title small {
          font-size: 28px; } }
      @media screen and (max-width: 568px) {
        .l-lowerCaption__title small {
          font-size: 20px; } }

.c-ttl-1 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .c-ttl-1 {
      font-size: 32px; } }
  @media screen and (max-width: 568px) {
    .c-ttl-1 {
      font-size: 28px; } }
  .c-ttl-1 > small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #090B3B;
    letter-spacing: 0.06em;
    margin-bottom: 5px; }

.c-ttl-2 {
  font-size: 40px;
  font-family: "Futura PT", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  padding-left: 19px;
  position: relative; }
  @media screen and (max-width: 568px) {
    .c-ttl-2 {
      font-size: 26px;
      margin-bottom: 10px;
      padding-left: 14px; } }
  .c-ttl-2::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 9px;
    height: 62px;
    background-color: #FFD200; }
    @media screen and (max-width: 568px) {
      .c-ttl-2::after {
        height: 22px;
        top: 9px; } }
  .c-ttl-2 > small {
    display: block;
    font-family: YakuHanJPs, 游ゴシック体, YuGothic-M, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: -8px; }
    @media screen and (max-width: 568px) {
      .c-ttl-2 > small {
        font-size: 14px; } }

.c-ttl-3, #contents .single_body h3 {
  font-size: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: 600; }
  @media screen and (max-width: 568px) {
    .c-ttl-3, #contents .single_body h3 {
      font-size: 20px; } }

.c-ttl--center {
  text-align: center; }

.c-ttl--mbLarge {
  margin-bottom: 30px; }

.c-blockquote, #contents .single_body blockquote {
  padding: 28px 24px 28px 72px;
  background-color: #F7F7F7;
  position: relative;
  margin-bottom: 30px; }
  .c-blockquote:last-child, #contents .single_body blockquote:last-child {
    margin-bottom: 0; }
  .c-blockquote:before, #contents .single_body blockquote:before {
    content: '';
    width: 20px;
    height: 21px;
    display: block;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #090B3B;
    font-size: 26px;
    position: absolute;
    top: 22px;
    left: 30px; }
  .c-blockquote p, #contents .single_body blockquote p {
    line-height: 1.75; }

.c-list {
  list-style-type: none;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 30px;
  line-height: 2; }
  .c-list:last-child {
    margin-bottom: 0; }
  .c-list--disc > .c-list__item {
    position: relative; }
    .c-list--disc > .c-list__item:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #090B3B;
      position: absolute;
      top: .9em;
      left: -1em; }
  .c-list--count {
    counter-reset: count; }
    .c-list--count > .c-list__item {
      position: relative; }
      .c-list--count > .c-list__item:before {
        counter-increment: count;
        content: counter(count) ".";
        position: absolute;
        left: -1.1em;
        color: #090B3B; }
      .c-list--count > .c-list__item:nth-child(n + 10):before {
        left: -1.6em; }
    .c-list--count--brackets {
      counter-reset: count; }
      .c-list--count--brackets > .c-list__item {
        position: relative; }
        .c-list--count--brackets > .c-list__item:before {
          counter-increment: count;
          content: "(" counter(count) ")";
          position: absolute;
          left: -1.5em;
          color: #090B3B; }
  .c-list--comment {
    margin-bottom: 30px; }
    .c-list--comment:last-child {
      margin-bottom: 0; }
    .c-list--comment > .c-list__item {
      position: relative; }
      .c-list--comment > .c-list__item:before {
        content: '※';
        display: inline-block;
        position: absolute;
        left: -1.5em; }
        @media all and (-ms-high-contrast: none) {
          .c-list--comment > .c-list__item:before {
            top: 0.1em; } }
    .c-list--comment--num {
      counter-reset: count; }
      .c-list--comment--num > .c-list__item {
        position: relative;
        padding-left: 0.5em; }
        .c-list--comment--num > .c-list__item:before {
          counter-increment: count;
          content: "※" counter(count);
          position: absolute;
          left: -1.5em; }
          @media all and (-ms-high-contrast: none) {
            .c-list--comment--num > .c-list__item:before {
              top: 0; } }
  .c-list--check > .c-list__item {
    padding-left: 5px;
    position: relative;
    padding-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .c-list--check > .c-list__item {
        line-height: 1.5; } }
    .c-list--check > .c-list__item:before {
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      color: #090B3B;
      position: absolute;
      top: 2px;
      left: -20px;
      transition: right 0.2s ease; }
  .c-list--large > .c-list__item {
    position: relative;
    font-size: 24px;
    display: inline-block;
    margin-right: 50px; }
    @media screen and (max-width: 1168px) {
      .c-list--large > .c-list__item {
        margin-right: 0;
        display: block; } }
    @media screen and (max-width: 568px) {
      .c-list--large > .c-list__item {
        font-size: 20px; } }
    .c-list--large > .c-list__item:before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #090B3B;
      position: absolute;
      top: .8em;
      left: -1em; }
      @media screen and (max-width: 568px) {
        .c-list--large > .c-list__item:before {
          top: .75em; } }

#contents .c-ttl-2 {
  padding-bottom: 15px;
  margin-bottom: 70px;
  border-bottom: 1px solid #CCCCCC; }
  @media screen and (max-width: 568px) {
    #contents .c-ttl-2 {
      margin-bottom: 40px; } }
  #contents .c-ttl-2 .p-heading__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 5px; }
  #contents .c-ttl-2 .c-newslist__date {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px; }
  #contents .c-ttl-2 .c-label {
    display: inline-block;
    font-size: 12px;
    padding: 1.5px 5px; }

#contents .p-goTop {
  text-align: center;
  margin-top: 30px; }

#contents .single_body:after {
  content: '';
  display: table;
  clear: both; }

#contents .single_body figure img {
  width: auto; }

#contents .single_body img {
  max-width: 100%;
  height: auto; }

#contents .single_body .aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center; }

#contents .single_body .alignright {
  float: right;
  margin: 0 0 10px 10px; }

#contents .single_body .alignleft {
  float: left;
  margin: 0 10px 10px 0; }

#contents .single_body p,
#contents .single_body li,
#contents .single_body th,
#contents .single_body td {
  color: #FFFFFF; }

#contents .single_body ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 30px; }
  #contents .single_body ul:last-child {
    margin-bottom: 0; }
  #contents .single_body ul li::marker {
    color: #090B3B; }
  #contents .single_body ul[class*="block"] {
    list-style-type: none;
    padding: 0; }

#contents .single_body ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 30px; }
  #contents .single_body ol:last-child {
    margin-bottom: 0; }
  #contents .single_body ol li::marker {
    color: #090B3B; }

#contents .single_body .wp-block-table {
  margin-bottom: 30px; }
  #contents .single_body .wp-block-table:last-child {
    margin-bottom: 0; }
  #contents .single_body .wp-block-table table {
    border-collapse: collapse; }
    #contents .single_body .wp-block-table table tr th, #contents .single_body .wp-block-table table tr td {
      border: 1px solid #000;
      padding: 10px; }

/*# sourceMappingURL=../_map/page/single.css.map */
