//下層読み込みSCSS
@import "../util/all";
@import "../base/lower";

/* 全幅指定 */
/* pタグの余白を削除 */
.wpcf7-form p {
  margin-bottom: 0;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="date"],textarea {
  padding: 15px;
  background-color: $white;
  color: $black;
  border-radius: $border-radius;
  // width: 100%;
  margin-top: 10px;
  width: 100%;
  @include mq-max(xs) {
    margin-top: 0;
  }
}
input[type="submit"] {
  border-radius: $border-radius;
  padding: 21px 55px;
}

/* ローダー */
.wpcf7 .ajax-loader {
  display: block;
  margin: 0 auto;
}

/* ラジオボタン */
.wpcf7 input[type=radio] {
  display: none;
}
.wpcf7 input[type=radio] + span {
  cursor: pointer;
  position: relative;
  margin: 0; 
  padding: 0 1em 0 1.8em;
  font-size: inherit;
  transition: opacity .25s ease;
}
.wpcf7 input[type=radio] + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
.wpcf7 input[type=radio] + span::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
.wpcf7 input[type=radio]:checked + span {
  transition: opacity .25s ease;
}
.wpcf7 input[type=radio]:checked + span::after {
  opacity: 1;
  top: 8px;
  left: .2em;
  width: .6em;
  height: .6em;
  background-color: #306ad4;
  border-radius: 50%;
  box-sizing: border-box;
  transition: opacity .25s ease;
}
span.wpcf7-form-control.wpcf7-radio {
  display: block;
}

.contactform {
  &__title,&__detail {
    
  }
  &__title {
    color: $black;
    width: 20%;
    position: relative;
    vertical-align: middle !important;
    font-weight: 600 !important;
    @include mq-max(xs) {
      color: $white;
      background-color: $keyColor !important;
    }
    .required {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      background-color: $red;
      padding: 0 8px;
      display: inline-block;
      border-radius: $border-radius;
      color: $white;
    }
  }
  &__detail {
    color: $black;
    width: 80%;
    text-align: left !important;
    @include mq-max(xs) {
      padding-top: 0 !important;
    }
    .wpcf7-radio {
      text-align: left;
    }
    .wpcf7-radio .wpcf7-list-item {
      color: $white;
      margin: 0 1em 0 0;
    }
  }
  .btn-submit {
    text-align: center;
    @include mq-max(xs) {
      padding: 0 15px;
    }
  }
}

.p-formtitle {
  margin-bottom: 30px;
}


//プライバシーポリシー

// .c-privacy {
//   max-width: 800px;
//   height: 200px;
//   overflow-y: scroll;
//   margin: 0 auto 40px;
//   padding: 20px 15px;
//   border: 1px solid $white;

  //パーツ調整
  // .l-section {
  //   padding: 0;
  //   &__inner {
  //     padding-bottom: 30px;
  //   }
  // }

  //アクセス解析ツールについて
  // .analysis_tool {
  //   margin-top: 20px;
  //   border: 1px solid #000;
  //   padding: 20px;
  //   p {
  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //   }
  // }
// }