//下層読み込みSCSS
@import "../util/all";
@import "../base/lower";
#school {
 .p-category {
   &__price {
    text-align: right;
    margin-top: 10px;
    @include mq-max(xs) {
      text-align: left;
      font-size: 14px;
    }
    &.c-box {
      background: none;
      width: 540px;
      max-width: 100%;
      margin-left: auto;
    }
   }
 }
}