//下層読み込みSCSS
@import "../util/all";
@import "../base/lower";

#sitemap {

  .p-sitemap {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    &__block {
      @include mq-max(xs) {
        padding-bottom: 0;
      }
    }
  }

  //パーツ調整
  .c-list {
    &--large {
      margin: 0;
      &>.c-list__item {
        width: 100%;
        margin: 0;
        font-size: 24px;
        @include mq-max(sm) {
          font-size: 20px;
        }
        .c-list__item {
          font-size: 20px;
          @include mq-max(sm) {
            font-size: 16px;
          }
        }
      }
    }
    &__item {
      a {
        color: $textColor;
        display: inline-block;
        position: relative;
        transition: all $transition;
        &:before {
          content: '';
          width: 0%;
          height: 2px;
          display: block;
          background-color: $keyColor;
          position: absolute;
          bottom: 2px;
          left: 0;
          transition: all $transition;
        }
        &:hover {
          color: $keyColor;
          &:before {
            width: 100%;
            @include mq-max(sm) {
              width: 0%;
            }
          }
        }
      }
    }
  }

}