{# CVエリア #}
<div class="l-section l-cvArea">
  <section class="l-cvArea__inner">
    <h2 class="l-cvArea__heading">contact</h2>
    <div class="l-cvArea__linkBox">
      <a href="{{ link.contact}}" class="l-cvArea__link l-cvArea__link--contact"><span>お問合せはこちら</span></a>
      <a href="{{ link.faq}}" class="l-cvArea__link l-cvArea__link--faq"><span>よくある質問</span></a>

    </div>
  </section>
</div>