<footer class="l-f l-f--lineTop">
  <div class="l-f__inner">
    {# pageTop #}
    <a href="{{ link.home}}" class="pageTop" data-js="pagetop"></a>
    {# pageTop #}

    <p class="l-f__companyName">一般社団法人 広島グリットサッカークラブ</p>
    {# copyright #}
    {# 年は最初の発行の年 #}
    <small class="l-f__copyright">&copy; 2022 Hirosima grit soccer club.</small>
    {# copyright #}
  </div>
</footer>
<!-- /footer -->