{# グループ会社パーツ #}
<div class="l-group">
  <div class="l-group__inner">
    <div class="l-group__heading">
      <h2 class="c-ttl-2"><small>GROUP COMPANY</small>グループ会社</h2>
    </div>
    <div class="l-group__company">
      <ul class="grid">
        <li class="col-6_xs-12 l-group__company-item">
          <div class="l-group__logo">
            <img src="{{ inc.image }}/common/img_logo-able.png" alt="株式会社 エーヴル">
          </div>
          <h3 class="l-group__company-name">株式会社 エーヴル</h3>
          <p class="l-group__company-desc">資機材・車両のレンタル、損保生保保険代理店、土木・建築・解体工事業</p>
          {# <a href="" target="_blank" rel="noopener" class="l-group__link">公式サイト</a> #}
        </li>
        <li class="col-6_xs-12 l-group__company-item">
          <div class="l-group__logo">
            <img src="{{ inc.image }}/common/img_logo-iwane.png" alt="株式会社 岩根">
          </div>
          <h3 class="l-group__company-name">株式会社 岩根</h3>
          <p class="l-group__company-desc">鋼材・産業機器用具、産業用ガス販売、防護策・法面工事業</p>
          <a href="http://www.iwane-net.co.jp/" target="_blank" rel="noopener" class="l-group__link">公式サイト</a>
        </li>
      </ul>
    </div>
  </div>
</div>
