{# リクルートCVエリア #}
<div class="l-recruitCV">
  <a href="{{ link.recruit}}">
    <div class="l-recruitCV__bg" style="background-image: url('{{ inc.image }}/common/bg_recruitCV.jpg');"></div>
    <div class="l-recruitCV__inner">
      <h2 class="c-ttl-2 c-ttl--center"><small>RECRUIT</small>採用情報</h2>
      <p class="l-recruitCV__desc">FANでは一緒に働いてくれる仲間を<br>募集しています。</p>
      <p class="l-recruitCV__more"><span>詳しく知る</span></p>
    </div>
  </a>
</div>
