.l-header {
  box-shadow: 0 3px 6px rgba(255, 255, 255, .07);

  // background-color: $white;
  @if $is-fixed==true {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 120px;
    margin: 0 auto;
    padding: 0 35px 0 40px;
    position: relative;
    z-index: 100;
    background-color: $keyColor;

    @include mq-max(md) {
      display: block;
      padding: 0;
      position: fixed;
      top: 0;
      background: transparent;
      box-shadow: none;
      height: auto;
    }
  }

  h1,
  .logo {
    margin-bottom: 0;
    margin-right: 30px;
    line-height: 0;
    display: inline-block;

    @include mq-max(md) {
      margin: 0;
      line-height: 0;
    }
  }

  .logo {
    img {
      opacity: 1;
      transition: opacity $transition;
      @include mq-max(md) {
        max-height: 44px;
      }
    }

    &:hover {
      img {
        opacity: .7;
      }
    }
  }

  &__modules {
    position: relative;
    line-height: 0;

    @include mq-max(md) {
      padding: 10px 15px;
      line-height: 0;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////

//  ハンバーガーメニュー

///////////////////////////////////////////////////////////////////////////////////////////////////////
.c-toggleBtn {
  @include mq-max(md) {
    display: block;
    position: absolute;
    top: 42%;
    right: 10px;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;

    &:after {
      content: '';
      font-size: 10px;
      font-weight: 600;
      color: $white;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    span {
      display: block;
      position: absolute;
      width: 30px;
      border-bottom: solid 3px $white;
      transition: .35s ease-in-out; //変化の速度を指定
      left: 6px;

      &:nth-child(1) {
        top: 9px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        top: 27px;
      }
    }

    &.is-active {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 6px;
          transform: rotate(-45deg);
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
          transform: rotate(45deg);
        }
      }
    }
  }
}