{% extends '../../../../../layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '<?php the_title(); ?>' %}

{# ページID設定 #}
{% set pageId = 'page' %}
{# WP固定ページの時、slug名のclassを付与 #}

{# ページ個別 CSS等 #}
{% block headArea %}
<?php wp_head(); ?>
<link rel="stylesheet" type="text/css" href="{{ inc.css }}/page/form.css">
{% endblock %}

{# コンテンツをここに記載(div#contents内) #}
{% block contents %}
<div class="l-section">
 {# STEP #}
  <section class="c-step" data-pfwform-hide-if-confirm>
    <h2 class="c-step__title">お問い合わせ内容をご入力ください。</h2>
    <ul class="c-step__list">
      <li class="c-step__item is-active">内容の入力</li>
      <li class="c-step__item">入力内容の確認</li>
      <li class="c-step__item">送信完了</li>
    </ul>
  </section>
  {# STEP #}

<?php echo do_shortcode('[contact-form-7 id="43" title="お問合せ"]'); ?>
  {# <?php if(have_posts()) : while (have_posts()) : the_post(); ?>
  <?php the_content(); ?>
  <?php endwhile; endif; ?> #}
  {# プライバシーポリシー #}
    <div class="c-privacy">
      {% include '../../../../../include/_privacy.twig' %}
    </div>
    {# プライバシーポリシー #}
</div>

{% endblock %}
---

{# ページ個別　JS等 #}
{% block jsArea %}
<?php wp_footer(); ?>
{% endblock %}
