{% extends '../../../../../layout/_01_lower.twig' %}

{# グローバルメニュー カレント固定  #}
{% set currentID = '3' %}

{# ページタイトル設定 #}
{% set pageTitle = 'jr.youth' %}
{% set subTitle = 'ジュニアユース' %}

{# ページID設定 #}
{% set pageId = 'youth' %}
{# WP固定ページの時、slug名のclassを付与 #}

{# ページ個別 CSS等 #}
{% block headArea %}
<?php wp_head(); ?>
<link rel="stylesheet" type="text/css" href="{{ inc.css }}/page/youth.css">
{% endblock %}

{# コンテンツをここに記載(div#contents内) #}
{% block contents %}
<div class="l-section">
{# スケジュール #}
<section class="l-section p-schedule">
  <h2 class="c-ttl-2">Schedule<small>スケジュール</small></h2>
  <div class="c-tbl__scroll">
    <table class="c-tbl">
      <thead>
        <th></th>
        <th><span>U-13</span></th>
        <th><span>U-14</span></th>
        <th><span>U-15</span></th>
      </thead>
      <tbody>
        <tr>
          <th>月曜日</th>
          <td>トレーニング</td>
          <td>トレーニング</td>
          <td>トレーニング</td>
        </tr>
        <tr>
          <th>火曜日</th>
          <td>トレーニング</td>
          <td>トレーニング</td>
          <td>トレーニング</td>
        </tr>
        <tr>
          <th>水曜日</th>
          <td>トレーニング</td>
          <td>トレーニング</td>
          <td>トレーニング</td>
        </tr>
        <tr>
          <th>木曜日</th>
          <td>休み</td>
          <td>休み</td>
          <td>休み</td>
        </tr>
        <tr>
          <th>金曜日</th>
          <td>トレーニング</td>
          <td>トレーニング</td>
          <td>トレーニング</td>
        </tr>
        <tr>
          <th>土曜日</th>
          <td>リーグ戦・TRM<br>トレーニング</td>
          <td>リーグ戦・TRM<br>トレーニング</td>
          <td>リーグ戦・TRM<br>トレーニング</td>
        </tr>
        <tr>
          <th>日曜日</th>
          <td>リーグ戦・TRM<br>または休み</td>
          <td>リーグ戦・TRM<br>または休み</td>
          <td>リーグ戦・TRM<br>または休み</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{# スケジュール #}

{# クラブ理念 #}
<section class="l-section">
  <h2 class="c-ttl-2">Club philosophy<small>クラブ理念</small></h2>
  <div class="l-col2__block">
    <div class="l-col2__img">
      <img src="{{inc.image}}/jr-youth/img_clubPhilosophy.png" alt="">
    </div>
    <div class="l-col2__detail">
      <div class="l-philosophy__contents">
        <h3 class="c-ttl-3">　</h3>
        <p><span class="u-underLine--red">サッカーを通じて、礼儀・敬う心を育て、規律（ルール）を守り、豊かな人間性の育成</span></p>
        <h3 class="c-ttl-3">　</h3>
        <p><span class="u-underLine--red">生涯スポーツとして、サッカーを楽しむことが出来る環境の提供</span></p>
        <h3 class="c-ttl-3">　</h3>
        <p><span class="u-underLine--red">地域に密着したクラブ運営</span></p>
        <h3 class="c-ttl-3">　</h3>
        <p><span class="u-underLine--red">広島から世界へ通用する選手の育成</span></p>
      </div>
    </div>
  </div>
</section>
{# クラブ理念 #}

{# 活動の様子 #}
<section class="l-section">
  <h2 class="c-ttl-2">Activity scenery<small>活動の様子</small></h2>
  <ul class="grid">
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
    <li class="col-4_sm-6"><img src="https://placehold.jp/400x360.png" alt=""></li>
  </ul>
</section>
{# 活動の様子 #}

{# リーグ戦スケジュール #}
<section class="l-section">
  <h2 class="c-ttl-2">League match schedule<small>リーグ戦スケジュール</small></h2>
  <?php
  $args = array(
    'post_type' => 'schedule', //カスタム投稿タイプ名
    'posts_per_page' => -1 //取得する投稿の件数
  );
 
  $my_posts = get_posts($args);
?>
<?php foreach ($my_posts as $post) : setup_postdata($post); ?>
<dl class="p-matchSchedule">
    <dt><?php the_title(); ?></dt>
    <div class="p-matchSchedule__detail">
      <dd>VS <?php the_field('taisenaite'); ?></dd>
      <dd>会場<span class="p-matchSchedule__slash">／</span><?php the_field('kaijou'); ?></dd>
      <dd>KICKOFF<span class="p-matchSchedule__slash">／</span><?php the_field('kickoff'); ?></dd>
    </div>
  </dl>
<?php endforeach; ?>
<?php wp_reset_postdata(); ?>
</section>
{# リーグ戦スケジュール #}

{# リンク #}
<section class="l-section">
  <?php if(get_field('selectionform')): ?>
  <a href="/selectionform/" style="color: #ffffff;">セレクション申込フォーム</a>
  <?php endif; ?>
  <a href="//" style="color: #ffffff;">ユニフォーム注文</a>
</section>
{# リンク #}

{# cvArea #}
{% include ('../../../../../include/_cvArea.twig') %}
{# cvArea #}

{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
<?php wp_footer(); ?>
{% endblock %}
