{% extends '../../../../../layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = '<?php the_title(); ?>' %}

{# ページID設定 #}
{% set pageId = 'page' %}
{# WP固定ページの時、slug名のclassを付与 #}

{# ページ個別 CSS等 #}
{% block headArea %}
<?php wp_head(); ?>
{% endblock %}

{# コンテンツをここに記載(div#contents内) #}
{% block contents %}

<div class="container">
  <?php if(have_posts()) : while (have_posts()) : the_post(); ?>
  <?php the_content(); ?>
  <?php endwhile; endif; ?>
</div>

{% endblock %}


{# ページ個別　JS等 #}
{% block jsArea %}
<?php wp_footer(); ?>
{% endblock %}
