{% extends '../../../../../layout/_01_lower.twig' %}

{# ページタイトル設定 #}
{% set pageTitle = 'お知らせ' %}

{# ページID設定 #}
{% set pageId = '' %}

{# OGP関連設定
※descriptionを記入しなければ、「〇〇」の「〇〇」のページです。とデフォルトの文言が出力されます。
※ogurlはルート相対パスで「必ず」記入してください
※ページ毎にOGP画像を変更した場合は、ogimagepathに画像のパスをルート相対パスで入力してください。記述がなければ、デフォルトのOGP画像が表示されます。　#}
{% set description = '<?php the_title(); ?>の記事です。' %}
{% set wpogurl = '<?php the_permalink(); ?>' %}

{# ページ個別 CSS等 #}
{% block headArea %}
<?php wp_head(); ?>
<link rel="stylesheet" type="text/css" href="{{ inc.css }}/page/single.css">
{% endblock %}

{# コンテンツをここに記載(div#contents内) #}
{% block contents %}

<div class="l-section single_body">
  <?php if(have_posts()) : while (have_posts()) : the_post(); ?>
  <h2 class=""><?php the_title(); ?></h2>
  <?php the_content(); ?>
  <?php endwhile; endif; ?>
</div>

{% endblock %}


{# ページ個別　JS等 #}
{% block jsArea %}
<?php wp_footer(); ?>
{% endblock %}
