input,textarea,select {
  border: 1px solid $border-parts;
  border-radius: $border-radius;
  padding: $padding-parts;
  background: #fff;
  @include mq-max(sm) {
    width: 100%;
    display: block;
  }
}

input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
}

//inputを囲うクラス（select以外）
.txt {
  width: 100%;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &.small {
    max-width: 230px;
    @include mq-max(sm) {
      max-width: 100%;
    }
  }
  &.medium {
    max-width: 500px;
    @include mq-max(sm) {
      max-width: 100%;
    }
  }
  &.long {
    max-width: 100%;
  }
}

textarea{
  width: 100%;
}


//カテゴリアイコン
.ico{
  font-size: 80%;
  padding: 3px 5px;
  border-radius: $border-radius;
  display: inline-block;
  color: #fff;
  &.must{
    background: $bg-must;
  }

  &.optional{
    background: $bg-optional;
  }
}

fieldset {
  border: 0 none;
}


.form_group_wrap {
  //Confirm時の結果表示
  .c-confirmTxt {
    line-height: 1.5;
    margin: 0;
  }
}

//同意チェック
.agree {
  fieldset {
    margin-bottom: 40px;
    label {
      &:hover{
        cursor: pointer;
      }
    }
  }
}

//ラジオ、チェック用リスト
.c-inputList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  &>li {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  //装飾あり
  &--box {
    margin-bottom: -10px;
    @include mq-max(xs) {
      flex-direction: column;
    }
    &>li {
      margin-bottom: 10px;
      @include mq-max(xs) {
        margin-right: 0;
      }

      label {
        background-color: $keyColor;
        color: $white;
        padding: 5px 10px;
        border-radius: 6px;
        display: block;
      }

      //ラジオボタン
      // input[type="radio"] + label {}
      //チェックボックス
      input[type="checkbox"] + label {
        padding-left: 30px;
        @include mq-max(xs) {
          width: 100%;
        }
        &:before {
          border-color: $white;
          transition: none; //ここをコメントアウトすればチェックボックスのアニメーションが復活する。
          top: .6em;
          left: 10px;
        }
        &:after {
          top: .6em;
          left: 10px;
        }
      }
      //チェックボックス　active時
      input[type="checkbox"]:checked + label {
        &:before {
          border-color: $keyColor;
          top: .7em;
        }
      }
    }
  }
}
//フォーム小見出し
.c-inputName {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: $textColor;
  margin-bottom: 5px;
  &__block {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//各フォームに対する例文
.c-example {
  font-size: 14px;
  color: $exampleTxt;
  line-height: 1.2;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

//フォームコメント
.c-formComment {
  font-size: 14px;
  color: $black;
  line-height: 1.5;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

//エラー、完了画面のボックス
.c-formCompleteBox {
  background: $white;
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 30px 20px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0
  }
}

//----------------------------------------------------------------
//    ラジオボタン装飾
//----------------------------------------------------------------
input[type="radio"] {
  position: absolute;
  opacity: 0;
  @include mq-max(sm){
    width: auto;
    display: inline-block;
  }
  + label {
    cursor: pointer;
    &:before {
      content: '';
      background: $white;
      border-radius: 100%;
      border: 1px solid darken($gray, 25%);
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
      top: 0.3em;
      margin-right: 0.5em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all $form-transition ease;
    }
  }
  &:checked {
    + label {
      &:before {
        background-color: $keyColor;
        box-shadow: inset 0 0 0 3px $white;
      }
    }
  }
}
//----------------------------------------------------------------
//    チェックボックス　アニメーション
//----------------------------------------------------------------

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]+label{
  position: relative;
  z-index: 0;
  cursor: pointer;
  padding-left: 25px;
  @include mq-max(sm){
    width: auto;
    display: inline-block;
  }
  &:before {
    transition: transform $form-transition ease-in-out, border $form-transition ease-in-out, height $form-transition ease-in-out;
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid $gray;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: $white;
    cursor: pointer;
    @include mq-max(sm){
      width: 1rem;
      height: 1rem;
    }
  }
}
//アクティブ
input[type="checkbox"]:checked+label {
  &:before{
    transform: rotate(-45deg);
    height: .5rem;
    top: 0.4em;
    border-color: $keyColor;
    border-top-style: none;
    border-right-style: none;
  }
}
